<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Blog dla programistów</title>
</head>
<body>
<div>
<h1>Witam na stronie bloga!</h1>
<h2>Blog o programowaniu</h2>
<h3>Autor: Ja</h3>
<h4>Wszelkie prawa zastrzeżone</h4>
</div>
<div>
<p>To jest akapit</p>
<em>To jest wyróżniony tekst</em><br>
<strong>Pogrubiony tekst</strong><br>
<a href="https://strefakursow.pl">kliknij tutaj</a>
</div> 
<div>
<ul>
    <li>Element listy</li>
    <li>Element listy</li>
    <li>Element listy</li>
</ul>
</div>

</body>

</html>